Repository RoseBlume/pmaports, changes with the owners that CODEOWNERS names for each.
All owners: @funderscore, @Minecrell, @jenneron, @fossdd, @binarycraft, @adamthiede, @JustSoup321, @alpernebbi, @Newbyte, @akemnade, @craftyguy, @jane400, @sicelo, @Danct12, @QC8086, @milesalan, @proycon, @anjandev, @StacyHarper, @Arnavion, @PsychoGame, @PureTryOut, @alistair23, @TravMurav, @flamingradian, @sdm845-mainline, @z3ntu, @Mis012, @minlexx, @wonderfulShrineMaidenOfParadise, @MightyM17, @antoni.aloytorrens, @joelselvaraj, @alikates, @vipaoL, @barni2000, @Tooniis, @jiaxyga, @M0Rf30, @WeirdTreeThing, @ollieparanoid, @gtrxAC, @jethrob, @clamor-s, @okias, @mschwalm, @nokun, @Grimler, @calebccff, @legolivesmatter, @balejk, @andrisas, @knuxify, @alexmrqt, @amartinz, @dylanvanassche, @exkc, @Sicelo, @Ultra-azu, @pabloyoyoista

linux-postmarketos-qcom-sdm670: wifi patch for testing
  device/community/linux-postmarketos-qcom-sdm670/0001-ath-regd-Change-fallback-country-code-to-DE-instead-.patch
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Owners: @flamingradian

linux-postmarketos-qcom-sdm845: upgrade to 6.11.0-rc2
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
  device/community/linux-postmarketos-qcom-sdm845/config-postmarketos-qcom-sdm845.aarch64
Owners: @sdm845-mainline

linux-postmarketos-qcom-sdm670: use imx363 branch
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
  device/community/linux-postmarketos-qcom-sdm670/config-postmarketos-qcom-sdm670.aarch64
Owners: @flamingradian

linux-postmarketos-qcom-sdm845: wifi patch for testing
  device/community/linux-postmarketos-qcom-sdm845/0001-ath-regd-Change-fallback-country-code-to-DE-instead-.patch
  device/community/linux-postmarketos-qcom-sdm845/APKBUILD
Owners: @sdm845-mainline

linux-postmarketos-qcom-sdm670: add camss patch from sdm845
  device/community/linux-postmarketos-qcom-sdm670/0001-HACK-media-camss-fix-crash-on-stop-streaming.patch
  device/community/linux-postmarketos-qcom-sdm670/APKBUILD
Owners: @flamingradian

(sq) - adjust release version
  device/testing/device-sony-akari/APKBUILD
Owners: none

sony-togari: new device
  device/testing/device-sony-togari/APKBUILD
  device/testing/device-sony-togari/deviceinfo
  device/testing/device-sony-togari/modules-initfs
Owners: none

linux-lenovo-21bx: upgrade to 6.11
  device/community/linux-lenovo-21bx/APKBUILD
  device/community/linux-lenovo-21bx/config-lenovo-21bx.aarch64
Owners: @craftyguy, @jane400

temp/mutter-mobile: drop
  temp/mutter-mobile/APKBUILD
  temp/mutter-mobile/pcversion.patch
Owners: none

pmaports.cfg: add repo:systemd section
  pmaports.cfg
Owners: none

systemd/alpine-base: new aport
  systemd/alpine-base/APKBUILD
  systemd/alpine-base/rc-update
Owners: none

systemd/dbus: new aport
  systemd/dbus/APKBUILD
  systemd/dbus/dbus.post-install
  systemd/dbus/dbus.pre-install
  systemd/dbus/dbus.trigger
Owners: none

systemd/gdm: new aport
  systemd/gdm/0001-DOWNSTREAM-use-bin-touch-instead-of-usr-bin-touch.patch
  systemd/gdm/0003-pam-rename-common-to-base.patch
  systemd/gdm/APKBUILD
  systemd/gdm/Xsession
  systemd/gdm/gdm.initd
  systemd/gdm/gdm.pre-install
Owners: none

temp/gnome-shell-mobile: drop
  temp/gnome-shell-mobile/APKBUILD
  temp/gnome-shell-mobile/gsh.patch
Owners: none

systemd/accountsservice: new aport
  systemd/accountsservice/APKBUILD
  systemd/accountsservice/musl-fgetspent_r.patch
  systemd/accountsservice/musl-wtmp.patch
  systemd/accountsservice/opt-tests.patch
Owners: none

systemd/abuild: new aport
  systemd/abuild/APKBUILD
  systemd/abuild/abuild.pre-install
  systemd/abuild/abuild.pre-upgrade
Owners: none

systemd/apk-tools: new aport
  systemd/apk-tools/APKBUILD
  systemd/apk-tools/_apk
Owners: none

systemd/gnome-shell-mobile: new aport
  systemd/gnome-shell-mobile/APKBUILD
  systemd/gnome-shell-mobile/disable-telepathy-integration.patch
  systemd/gnome-shell-mobile/gsh.patch
Owners: none

systemd/gnome-session: new aport
  systemd/gnome-session/APKBUILD
Owners: none

systemd/linux-pam-systemd: new aport
  systemd/linux-pam/APKBUILD
  systemd/linux-pam/base-account.pamd
  systemd/linux-pam/base-auth.pamd
  systemd/linux-pam/base-password.pamd
  systemd/linux-pam/base-session-noninteractive.pamd
  systemd/linux-pam/base-session.pamd
  systemd/linux-pam/login.pamd
  systemd/linux-pam/no-examples.patch
  systemd/linux-pam/other.pamd
  systemd/linux-pam/su.pamd
Owners: none

systemd/mutter-mobile: new aport
  systemd/mutter-mobile/APKBUILD
  systemd/mutter-mobile/fixudev-req.patch
  systemd/mutter-mobile/pcversion.patch
  systemd/mutter-mobile/version.patch
Owners: none

systemd/gnome-settings-daemon: new aport
  systemd/gnome-settings-daemon/APKBUILD
  systemd/gnome-settings-daemon/dont-use-logind-for-brightness-changing.patch
Owners: none

systemd/multipath-tools: new aport
  systemd/multipath-tools/0001-Disable-Werror-and-O2.patch
  systemd/multipath-tools/APKBUILD
  systemd/multipath-tools/multipath-tools.conf
  systemd/multipath-tools/multipath.initd
  systemd/multipath-tools/multipathd.initd
Owners: none

systemd/gnome-keyring: new aport
  systemd/gnome-keyring/0001-build-Use-p11_module_configs-as-default-pkcs11-confi.patch
  systemd/gnome-keyring/APKBUILD
Owners: none

systemd/polkit: new aport
  systemd/polkit/APKBUILD
  systemd/polkit/alpine-polkit.pam
  systemd/polkit/polkit.pre-install
  systemd/polkit/polkit.pre-upgrade
Owners: none

CHECK: systemd/xorg-server: new aport
  systemd/xorg-server/APKBUILD
  systemd/xorg-server/ms-rotate.patch
Owners: none

systemd/upower: new aport
  systemd/upower/APKBUILD
Owners: none

CHECK: systemd/networkmanager: new aport
  systemd/networkmanager/APKBUILD
  systemd/networkmanager/networkmanager-wifi.post-install
  systemd/networkmanager/networkmanager.conf
  systemd/networkmanager/networkmanager.post-install
  systemd/networkmanager/networkmanager.post-upgrade
  systemd/networkmanager/networkmanager.pre-install
  systemd/networkmanager/networkmanager.pre-upgrade
  systemd/networkmanager/networkmanager.rules
  systemd/networkmanager/pppd-2.5.patch
  systemd/networkmanager/wwan-no-libsystemd.patch
Owners: none

systemd/systemd-services: new aport
  systemd/systemd-services/APKBUILD
  systemd/systemd-services/system-ModemManager.service
  systemd/systemd-services/system-apk-polkit-server.service
  systemd/systemd-services/system-bluetooth.service
  systemd/systemd-services/system-flatpak-system-helper.service
  systemd/systemd-services/system-hexagonrpcd-sdsp.service
  systemd/systemd-services/system-iio-sensor-proxy.d-hexagonrpcd.conf
  systemd/systemd-services/system-iio-sensor-proxy.service
  systemd/systemd-services/system-nftables.service
  systemd/systemd-services/system-pd-mapper.service
  systemd/systemd-services/system-q6voiced.service
  systemd/systemd-services/system-qbootctl.service
  systemd/systemd-services/system-rmtfs.service
  systemd/systemd-services/system-sleep-inhibitor.service
  systemd/systemd-services/system-sshd.service
  systemd/systemd-services/system-sshdgenkeys.service
  systemd/systemd-services/system-tqftpserv.service
  systemd/systemd-services/system-wpa_supplicant.service
  systemd/systemd-services/systemd-services.trigger
  systemd/systemd-services/user-at-spi-dbus-bus.service
  systemd/systemd-services/user-dconf.service
  systemd/systemd-services/user-flatpak-portal.service
  systemd/systemd-services/user-flatpak-session-helper.service
  systemd/systemd-services/user-pulseaudio.service
  systemd/systemd-services/user-pulseaudio.socket
  systemd/systemd-services/user-xdg-desktop-portal-gnome.service
  systemd/systemd-services/user-xdg-desktop-portal-gtk.service
  systemd/systemd-services/user-xdg-desktop-portal-rewrite-launchers.service
  systemd/systemd-services/user-xdg-desktop-portal-wlr.service
  systemd/systemd-services/user-xdg-desktop-portal.service
  systemd/systemd-services/user-xdg-document-portal.service
  systemd/systemd-services/user-xdg-permission-store.service
Owners: none

systemd/systemd: new aport
  systemd/systemd/0001-Adjust-for-musl-headers.patch
  systemd/systemd/0002-binfmt-Don-t-install-dependency-links-at-install-tim.patch
  systemd/systemd/0003-errno-util-Make-STRERROR-portable-for-musl.patch
  systemd/systemd/0005-pass-correct-parameters-to-getdents64.patch
  systemd/systemd/0006-test-bus-error-strerror-is-assumed-to-be-GNU-specifi.patch
  systemd/systemd/0009-missing_type.h-add-comparison_fn_t.patch
  systemd/systemd/0010-add-fallback-parse_printf_format-implementation.patch
  systemd/systemd/0011-src-basic-missing.h-check-for-missing-strndupa.patch
  systemd/systemd/0012-don-t-fail-if-GLOB_BRACE-and-GLOB_ALTDIRFUNC-is-not-.patch
  systemd/systemd/0013-add-missing-FTW_-macros-for-musl.patch
  systemd/systemd/0014-Use-uintmax_t-for-handling-rlim_t.patch
  systemd/systemd/0016-don-t-pass-AT_SYMLINK_NOFOLLOW-flag-to-faccessat.patch
  systemd/systemd/0017-Define-glibc-compatible-basename-for-non-glibc-syste.patch
  systemd/systemd/0018-Do-not-disable-buffering-when-writing-to-oom_score_a.patch
  systemd/systemd/0019-distinguish-XSI-compliant-strerror_r-from-GNU-specif.patch
  systemd/systemd/0020-avoid-redefinition-of-prctl_mm_map-structure.patch
  systemd/systemd/0021-do-not-disable-buffer-in-writing-files.patch
  systemd/systemd/0022-Handle-__cpu_mask-usage.patch
  systemd/systemd/0023-Handle-missing-gshadow.patch
  systemd/systemd/0024-missing_syscall.h-Define-MIPS-ABI-defines-for-musl.patch
  systemd/systemd/0028-sd-event-Make-malloc_trim-conditional-on-glibc.patch
  systemd/systemd/0029-shared-Do-not-use-malloc_info-on-musl.patch
  systemd/systemd/9999-caleb-fixup.patch
  systemd/systemd/APKBUILD
  systemd/systemd/systemd.post-install
  systemd/systemd/wired.network
Owners: none

systemd/postmarketos-base-systemd: new aport
  systemd/postmarketos-base-systemd/APKBUILD
  systemd/postmarketos-base-systemd/rootfs-etc-motd.ansi
  systemd/postmarketos-base-systemd/rootfs-etc-profile.d-99motd.sh
  systemd/postmarketos-base-systemd/rootfs-etc-ssh-sshd_config.d-usepam.conf
  systemd/postmarketos-base-systemd/rootfs-etc-systemd-logind.conf
  systemd/postmarketos-base-systemd/rootfs-usr-bin-setup-timezone
Owners: none

systemd/xorg-server: set !check
  systemd/xorg-server/APKBUILD
Owners: none

systemd/postmarketos-base-systemd: depend on systemd-services
  systemd/postmarketos-base-systemd/APKBUILD
Owners: none

systemd/gnome-shell-mobile: drop caribou dep
  systemd/gnome-shell-mobile/APKBUILD
Owners: none

systemd/systemd-services: add rtkit-daemon.service
  systemd/systemd-services/APKBUILD
  systemd/systemd-services/system-rtkit-daemon.service
Owners: none

systemd/gnome-shell-mobile: add uclamp hack
  systemd/gnome-shell-mobile/APKBUILD
  systemd/gnome-shell-mobile/gnome-shell-uclamp.sh
  systemd/gnome-shell-mobile/uclamp-override.conf
Owners: none

systemd-services: add phosh.service (MR 4904)
  systemd/systemd-services/APKBUILD
  systemd/systemd-services/system-phosh.service
Owners: none

systemd: remove various unreferenced files (MR 5070)
  extra-repos/systemd/gdm/gdm.initd
  extra-repos/systemd/networkmanager/wwan-no-libsystemd.patch
Owners: none

extra-repos/systemd/kjournald: new aport
  extra-repos/systemd/kjournald/0001-kjournald-missing-include.patch
  extra-repos/systemd/kjournald/APKBUILD
Owners: none

editorconfig: add networkmanager.rules style (MR 5070)
  .editorconfig
Owners: none

CODEOWNERS:

# https://docs.gitlab.com/ee/user/project/code_owners.html
# Put groups like @sdm845-mainline into test_device.py:gitlab_groups.
# Order lines alphabetically!

device/*/*-amlogic-s905*/			@funderscore
device/*/*-arrow-db410c/			@Minecrell
device/*/*-asus-me176c/				@Minecrell
device/*/*-ayn-odin/				@jenneron
device/*/*-bq-paella/				@Minecrell
device/*/*-bq-tenshi/				@fossdd
device/*/*-google-gru/				@jenneron
device/*/*-google-kukui/			@jenneron @binarycraft
device/*/*-google-oak/				@jenneron @adamthiede
device/*/*-google-trogdor/			@jenneron
device/*/*-google-veyron/			@jenneron
device/*/*-google-x64cros/			@jenneron @JustSoup321 @alpernebbi
device/*/*-htc-golfu/				@Newbyte
device/*/*-htc-m8qlul/				@Newbyte
device/*/*-kobo-clara/				@akemnade
device/*/*-lenovo-21bx/				@craftyguy @jane400
device/*/*-lenovo-a6000/			@jenneron @Minecrell
device/*/*-lenovo-a6010/			@jenneron @Minecrell
device/*/*-librecomputer-lafrite/		@funderscore
device/*/*-librecomputer-lepotato/		@funderscore
device/*/*-librecomputer-solitude/		@Newbyte @funderscore
device/*/*-motorola-harpia/			@Minecrell
device/*/*-nokia-n900/				@sicelo @Danct12
device/*/*-pine64-pinebookpro/			@QC8086
device/*/*-pine64-pinephone/			@craftyguy @milesalan @proycon @anjandev @StacyHarper @Arnavion @PsychoGame
device/*/*-pine64-pinephonepro/			@PsychoGame
device/*/*-pine64-rockpro64/			@PureTryOut
device/*/*-purism-librem5/			@craftyguy @alistair23 @Newbyte
device/*/*-qcom-msm8916/			@Minecrell @TravMurav
device/*/*-qcom-sdm670/				@flamingradian
device/*/*-qcom-sdm845/				@sdm845-mainline
device/*/*-qcom-sm6350/				@z3ntu
device/*/*-samsung-a3/				@Mis012 @TravMurav @Minecrell
device/*/*-samsung-a5/				@Minecrell @minlexx
device/*/*-samsung-e7/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-espresso10/			@MightyM17
device/*/*-samsung-espresso7/			@MightyM17 @antoni.aloytorrens
device/*/*-samsung-grandmax/			@wonderfulShrineMaidenOfParadise
device/*/*-samsung-gt510/			@TravMurav
device/*/*-samsung-gt58/			@TravMurav
device/*/*-samsung-j5/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-j5x/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-serranove/			@Minecrell
device/*/*-tolino-shine2hd/			@akemnade
device/*/*-videostrong-kii-pro/			@funderscore
device/*/*-wileyfox-crackling/			@TravMurav @Minecrell
device/*/*-xiaomi-beryllium/			@joelselvaraj
device/*/*-xiaomi-daisy/			@joelselvaraj @alikates
device/*/*-xiaomi-markw/			@vipaoL
device/*/*-xiaomi-mido/				@barni2000
device/*/*-xiaomi-scorpio/			@Tooniis
device/*/*-xiaomi-tissot/			@jiaxyga @barni2000
device/*/*-xiaomi-vince/			@M0Rf30
device/*/*-xiaomi-wt88047/			@Minecrell
device/*/*-xiaomi-ysl/				@barni2000
device/*/alsa-ucm-conf-cros/			@WeirdTreeThing
device/*/alsa-ucm-conf-qcom-sdm670/		@flamingradian
device/*/device-fairphone-*/			@z3ntu
device/*/device-generic-x86_64/			@craftyguy @ollieparanoid
device/*/device-google-nyan-big/		@jenneron
device/*/device-google-nyan-blaze/		@jenneron
device/*/device-google-peach-pi/		@jenneron
device/*/device-google-peach-pit/		@jenneron
device/*/device-google-sargo/			@flamingradian
device/*/device-google-snow/			@jenneron
device/*/device-huawei-plank/			@gtrxAC
device/*/device-lg-judyln/			@Newbyte
device/*/device-lg-judyp/			@jenneron
device/*/device-microsoft-surface-rt/		@jenneron @jethrob
device/*/device-nvidia-tegra-armv7/		@clamor-s @okias @mschwalm @nokun
device/*/device-odroid-xu4/			@Grimler
device/*/device-oneplus-enchilada/		@calebccff
device/*/device-oneplus-fajita/			@calebccff
device/*/device-postmarketos-trailblazer/	@calebccff
device/*/device-qcom-msm8909/			@wonderfulShrineMaidenOfParadise
device/*/device-qemu-aarch64/			@Minecrell @ollieparanoid
device/*/device-qemu-amd64/			@Minecrell @ollieparanoid
device/*/device-qemu-riscv64/			@Minecrell @z3ntu
device/*/device-qualcomm-sdm845/		@calebccff
device/*/device-raspberry-pi3/			@fossdd
device/*/device-samsung-chagallwifi/		@Grimler
device/*/device-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/device-samsung-j5y17lte/	@andrisas
device/*/device-samsung-klimtlte/		@Grimler
device/*/device-samsung-lt01/			@knuxify
device/*/device-samsung-m0/			@Newbyte
device/*/device-samsung-manta/			@jenneron @alexmrqt
device/*/device-shift-axolotl/			@amartinz @calebccff @dylanvanassche
device/*/firmware-google-sargo/			@flamingradian
device/*/firmware-google-veyron-brcm/		@jenneron
device/*/firmware-odroid-xu4/			@Grimler
device/*/firmware-oneplus-sdm845/		@calebccff
device/*/firmware-powervr-gx6250/		@jenneron
device/*/kobo-epdc-extractor/			@akemnade
device/*/linux-google-nyan/			@jenneron
device/*/linux-google-veyron/			@jenneron
device/*/linux-huawei-plank/			@gtrxAC
device/*/linux-next/				@calebccff
device/*/linux-postmarketos-allwinner/		@Arnavion @PsychoGame
device/*/linux-postmarketos-amlogic/		@funderscore @exkc
device/*/linux-postmarketos-exynos4/		@Newbyte @Grimler @knuxify
device/*/linux-postmarketos-exynos5/		@jenneron @Grimler
device/*/linux-postmarketos-grate/		@clamor-s @jenneron @jethrob
device/*/linux-postmarketos-imx-ereader/	@akemnade
device/*/linux-postmarketos-mediatek-mt8173/	@jenneron @adamthiede
device/*/linux-postmarketos-mediatek-mt8183/	@jenneron @binarycraft
device/*/linux-postmarketos-omap/		@MightyM17 @Sicelo
device/*/linux-postmarketos-qcom-msm8939/	@Newbyte
device/*/linux-postmarketos-qcom-msm8953/	@M0Rf30 @Ultra-azu @barni2000
device/*/linux-postmarketos-qcom-msm8996/	@Tooniis
device/*/linux-postmarketos-qcom-sc7180/	@jenneron
device/*/linux-postmarketos-rockchip/		@QC8086
device/*/linux-postmarketos-stericsson/		@Newbyte
device/*/linux-samsung-chagallwifi/		@Grimler
device/*/linux-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/linux-samsung-j5y17lte/	@andrisas
device/*/linux-samsung-klimtlte/		@Grimler
device/*/oem-amd/				@craftyguy
device/*/oem-intel/				@craftyguy
device/*/oem-nvidia/				@craftyguy
device/*/soc-mediatek-mt8183/			@jenneron
device/*/soc-qcom-msm8953/			@barni2000
device/*/soc-qcom-msm8996/			@Tooniis
device/*/soc-qcom-sc7180/			@jenneron
device/*/soc-rockchip-rk3399/			@jenneron
device/*/soc-samsung-exynos4412/		@Newbyte
device/*/u-boot-librem5/			@craftyguy @alistair23 @Newbyte
device/*/u-boot-pinebookpro/			@QC8086
device/*/u-boot-pinephone/			@Arnavion @PsychoGame
device/*/wl1251-cal/				@Danct12
main/postmarketos*gnome*/			@pabloyoyoista @Newbyte
main/postmarketos-initramfs/			@calebccff @craftyguy
main/postmarketos-ui-i3wm/			@fossdd
main/postmarketos-ui-phosh/			@pabloyoyoista @Newbyte
main/postmarketos-ui-plasma-mobile/		@PureTryOut
main/shutdown-clear-rtc-wakealarm/		@Arnavion
main/ttyescape/					@calebccff
