Repository RoseBlume/pmaports, changes with the owners that CODEOWNERS names for each.
All owners: @funderscore, @Minecrell, @jenneron, @fossdd, @binarycraft, @adamthiede, @JustSoup321, @alpernebbi, @Newbyte, @akemnade, @craftyguy, @jane400, @sicelo, @Danct12, @QC8086, @milesalan, @proycon, @anjandev, @StacyHarper, @Arnavion, @PsychoGame, @PureTryOut, @alistair23, @TravMurav, @flamingradian, @sdm845-mainline, @z3ntu, @Mis012, @minlexx, @wonderfulShrineMaidenOfParadise, @MightyM17, @antoni.aloytorrens, @joelselvaraj, @alikates, @vipaoL, @barni2000, @Tooniis, @jiaxyga, @M0Rf30, @WeirdTreeThing, @ollieparanoid, @gtrxAC, @jethrob, @clamor-s, @okias, @mschwalm, @nokun, @Grimler, @calebccff, @legolivesmatter, @balejk, @andrisas, @knuxify, @alexmrqt, @amartinz, @dylanvanassche, @exkc, @Sicelo, @Ultra-azu, @pabloyoyoista

CODEOWNERS:

# https://docs.gitlab.com/ee/user/project/code_owners.html
# Put groups like @sdm845-mainline into test_device.py:gitlab_groups.
# Order lines alphabetically!

device/*/*-amlogic-s905*/			@funderscore
device/*/*-arrow-db410c/			@Minecrell
device/*/*-asus-me176c/				@Minecrell
device/*/*-ayn-odin/				@jenneron
device/*/*-bq-paella/				@Minecrell
device/*/*-bq-tenshi/				@fossdd
device/*/*-google-gru/				@jenneron
device/*/*-google-kukui/			@jenneron @binarycraft
device/*/*-google-oak/				@jenneron @adamthiede
device/*/*-google-trogdor/			@jenneron
device/*/*-google-veyron/			@jenneron
device/*/*-google-x64cros/			@jenneron @JustSoup321 @alpernebbi
device/*/*-htc-golfu/				@Newbyte
device/*/*-htc-m8qlul/				@Newbyte
device/*/*-kobo-clara/				@akemnade
device/*/*-lenovo-21bx/				@craftyguy @jane400
device/*/*-lenovo-a6000/			@jenneron @Minecrell
device/*/*-lenovo-a6010/			@jenneron @Minecrell
device/*/*-librecomputer-lafrite/		@funderscore
device/*/*-librecomputer-lepotato/		@funderscore
device/*/*-librecomputer-solitude/		@Newbyte @funderscore
device/*/*-motorola-harpia/			@Minecrell
device/*/*-nokia-n900/				@sicelo @Danct12
device/*/*-pine64-pinebookpro/			@QC8086
device/*/*-pine64-pinephone/			@craftyguy @milesalan @proycon @anjandev @StacyHarper @Arnavion @PsychoGame
device/*/*-pine64-pinephonepro/			@PsychoGame
device/*/*-pine64-rockpro64/			@PureTryOut
device/*/*-purism-librem5/			@craftyguy @alistair23 @Newbyte
device/*/*-qcom-msm8916/			@Minecrell @TravMurav
device/*/*-qcom-sdm670/				@flamingradian
device/*/*-qcom-sdm845/				@sdm845-mainline
device/*/*-qcom-sm6350/				@z3ntu
device/*/*-samsung-a3/				@Mis012 @TravMurav @Minecrell
device/*/*-samsung-a5/				@Minecrell @minlexx
device/*/*-samsung-e7/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-espresso10/			@MightyM17
device/*/*-samsung-espresso7/			@MightyM17 @antoni.aloytorrens
device/*/*-samsung-grandmax/			@wonderfulShrineMaidenOfParadise
device/*/*-samsung-gt510/			@TravMurav
device/*/*-samsung-gt58/			@TravMurav
device/*/*-samsung-j5/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-j5x/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-serranove/			@Minecrell
device/*/*-tolino-shine2hd/			@akemnade
device/*/*-videostrong-kii-pro/			@funderscore
device/*/*-wileyfox-crackling/			@TravMurav @Minecrell
device/*/*-xiaomi-beryllium/			@joelselvaraj
device/*/*-xiaomi-daisy/			@joelselvaraj @alikates
device/*/*-xiaomi-markw/			@vipaoL
device/*/*-xiaomi-mido/				@barni2000
device/*/*-xiaomi-scorpio/			@Tooniis
device/*/*-xiaomi-tissot/			@jiaxyga @barni2000
device/*/*-xiaomi-vince/			@M0Rf30
device/*/*-xiaomi-wt88047/			@Minecrell
device/*/*-xiaomi-ysl/				@barni2000
device/*/alsa-ucm-conf-cros/			@WeirdTreeThing
device/*/alsa-ucm-conf-qcom-sdm670/		@flamingradian
device/*/device-fairphone-*/			@z3ntu
device/*/device-generic-x86_64/			@craftyguy @ollieparanoid
device/*/device-google-nyan-big/		@jenneron
device/*/device-google-nyan-blaze/		@jenneron
device/*/device-google-peach-pi/		@jenneron
device/*/device-google-peach-pit/		@jenneron
device/*/device-google-sargo/			@flamingradian
device/*/device-google-snow/			@jenneron
device/*/device-huawei-plank/			@gtrxAC
device/*/device-lg-judyln/			@Newbyte
device/*/device-lg-judyp/			@jenneron
device/*/device-microsoft-surface-rt/		@jenneron @jethrob
device/*/device-nvidia-tegra-armv7/		@clamor-s @okias @mschwalm @nokun
device/*/device-odroid-xu4/			@Grimler
device/*/device-oneplus-enchilada/		@calebccff
device/*/device-oneplus-fajita/			@calebccff
device/*/device-postmarketos-trailblazer/	@calebccff
device/*/device-qcom-msm8909/			@wonderfulShrineMaidenOfParadise
device/*/device-qemu-aarch64/			@Minecrell @ollieparanoid
device/*/device-qemu-amd64/			@Minecrell @ollieparanoid
device/*/device-qemu-riscv64/			@Minecrell @z3ntu
device/*/device-qualcomm-sdm845/		@calebccff
device/*/device-raspberry-pi3/			@fossdd
device/*/device-samsung-chagallwifi/		@Grimler
device/*/device-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/device-samsung-j5y17lte/	@andrisas
device/*/device-samsung-klimtlte/		@Grimler
device/*/device-samsung-lt01/			@knuxify
device/*/device-samsung-m0/			@Newbyte
device/*/device-samsung-manta/			@jenneron @alexmrqt
device/*/device-shift-axolotl/			@amartinz @calebccff @dylanvanassche
device/*/firmware-google-sargo/			@flamingradian
device/*/firmware-google-veyron-brcm/		@jenneron
device/*/firmware-odroid-xu4/			@Grimler
device/*/firmware-oneplus-sdm845/		@calebccff
device/*/firmware-powervr-gx6250/		@jenneron
device/*/kobo-epdc-extractor/			@akemnade
device/*/linux-google-nyan/			@jenneron
device/*/linux-google-veyron/			@jenneron
device/*/linux-huawei-plank/			@gtrxAC
device/*/linux-next/				@calebccff
device/*/linux-postmarketos-allwinner/		@Arnavion @PsychoGame
device/*/linux-postmarketos-amlogic/		@funderscore @exkc
device/*/linux-postmarketos-exynos4/		@Newbyte @Grimler @knuxify
device/*/linux-postmarketos-exynos5/		@jenneron @Grimler
device/*/linux-postmarketos-grate/		@clamor-s @jenneron @jethrob
device/*/linux-postmarketos-imx-ereader/	@akemnade
device/*/linux-postmarketos-mediatek-mt8173/	@jenneron @adamthiede
device/*/linux-postmarketos-mediatek-mt8183/	@jenneron @binarycraft
device/*/linux-postmarketos-omap/		@MightyM17 @Sicelo
device/*/linux-postmarketos-qcom-msm8939/	@Newbyte
device/*/linux-postmarketos-qcom-msm8953/	@M0Rf30 @Ultra-azu @barni2000
device/*/linux-postmarketos-qcom-msm8996/	@Tooniis
device/*/linux-postmarketos-qcom-sc7180/	@jenneron
device/*/linux-postmarketos-rockchip/		@QC8086
device/*/linux-postmarketos-stericsson/		@Newbyte
device/*/linux-samsung-chagallwifi/		@Grimler
device/*/linux-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/linux-samsung-j5y17lte/	@andrisas
device/*/linux-samsung-klimtlte/		@Grimler
device/*/oem-amd/				@craftyguy
device/*/oem-intel/				@craftyguy
device/*/oem-nvidia/				@craftyguy
device/*/soc-mediatek-mt8183/			@jenneron
device/*/soc-qcom-msm8953/			@barni2000
device/*/soc-qcom-msm8996/			@Tooniis
device/*/soc-qcom-sc7180/			@jenneron
device/*/soc-rockchip-rk3399/			@jenneron
device/*/soc-samsung-exynos4412/		@Newbyte
device/*/u-boot-librem5/			@craftyguy @alistair23 @Newbyte
device/*/u-boot-pinebookpro/			@QC8086
device/*/u-boot-pinephone/			@Arnavion @PsychoGame
device/*/wl1251-cal/				@Danct12
main/postmarketos*gnome*/			@pabloyoyoista @Newbyte
main/postmarketos-initramfs/			@calebccff @craftyguy
main/postmarketos-ui-i3wm/			@fossdd
main/postmarketos-ui-phosh/			@pabloyoyoista @Newbyte
main/postmarketos-ui-plasma-mobile/		@PureTryOut
main/shutdown-clear-rtc-wakealarm/		@Arnavion
main/ttyescape/					@calebccff

systemd/postmarketos-base-systemd: add base presets (MR 5377)
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  extra-repos/systemd/postmarketos-base-systemd/postmarketos-base-systemd.post-install
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-system-preset-90-base.preset
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-user-preset-90-base.preset
Owners: none

systemd/gnome-keyring: add systemd subpkg (MR 5377)
  extra-repos/systemd/gnome-keyring/APKBUILD
  extra-repos/systemd/gnome-keyring/gnome-keyring-systemd.post-install
  extra-repos/systemd/gnome-keyring/gnome-keyring-systemd.pre-deinstall
Owners: none

systemd/gnome-settings-daemon: add systemd subpkg (MR 5377)
  extra-repos/systemd/gnome-settings-daemon/APKBUILD
  extra-repos/systemd/gnome-settings-daemon/dont-use-logind-for-brightness-changing.patch
Owners: none

systemd/gnome-session: add systemd subpkg (MR 5377)
  extra-repos/systemd/gnome-session/APKBUILD
Owners: none

systemd/networkmanager: add systemd subpkg (MR 5377)
  extra-repos/systemd/networkmanager/APKBUILD
  extra-repos/systemd/networkmanager/networkmanager-systemd.post-install
  extra-repos/systemd/networkmanager/networkmanager-systemd.pre-deinstall
Owners: none

systemd/kmod: fork from Alpine to support usr merge (MR 5554)
  extra-repos/systemd/kmod/APKBUILD
  extra-repos/systemd/kmod/kmod.trigger
  extra-repos/systemd/kmod/portable-basename.patch
  extra-repos/systemd/kmod/strndupa.patch
Owners: none

systemd/pipewire: add install scripts for systemd presets (MR 5551)
  extra-repos/systemd/pipewire/APKBUILD
  extra-repos/systemd/pipewire/pipewire-pulse.post-install
  extra-repos/systemd/pipewire/pipewire-pulse.pre-deinstall
  extra-repos/systemd/pipewire/pipewire.post-install
  extra-repos/systemd/pipewire/pipewire.pre-deinstall
Owners: none

systemd/pmos-base-systemd: disable multipathd by default (MR 5556)
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-system-preset-90-base.preset
Owners: none

systemd/kmod: add fixes for usr merge (MR 5554)
  extra-repos/systemd/kmod/APKBUILD
  extra-repos/systemd/kmod/kmod.trigger
Owners: none

systemd/multipath-tools: upgrade to 0.10.0
  extra-repos/systemd/multipath-tools/0001-Disable-O2.patch
  extra-repos/systemd/multipath-tools/0001-Disable-Werror-and-O2.patch
  extra-repos/systemd/multipath-tools/APKBUILD
  extra-repos/systemd/multipath-tools/fix-basename.patch
  extra-repos/systemd/multipath-tools/multipath.initd
  extra-repos/systemd/multipath-tools/multipathd.confd
  extra-repos/systemd/multipath-tools/multipathd.initd
Owners: none

systemd: upgrade gnome shell and mutter mobile to 46 (MR 5363)
  extra-repos/systemd/gnome-shell-mobile/APKBUILD
  extra-repos/systemd/gnome-shell-mobile/disable-telepathy-integration.patch
  extra-repos/systemd/gnome-shell-mobile/gnome-shell-uclamp.sh
  extra-repos/systemd/gnome-shell-mobile/gsh.patch
  extra-repos/systemd/gnome-shell-mobile/uclamp-override.conf
  extra-repos/systemd/mutter-mobile/APKBUILD
  extra-repos/systemd/mutter-mobile/fixudev-req.patch
  extra-repos/systemd/mutter-mobile/pcversion.patch
  extra-repos/systemd/mutter-mobile/version.patch
Owners: none

temp/gtk4.0: upgrade to 4.14.5
  temp/gtk4.0/APKBUILD
Owners: none

temp/libcamera: backport dmabuf sync fix
  temp/libcamera/0001-libcamera-MappedFrameBuffer-Use-DMA_BUF_SYNC-to-ensu.patch
  temp/libcamera/APKBUILD
Owners: none

temp/wireplumber: fork for temporary downstream patches
  temp/wireplumber/0001-monitor-utils-Always-bail-early-from-register_cam_no.patch
  temp/wireplumber/APKBUILD
Owners: none

temp/libcamera: Change udev rule with uaccess tag for udmabuf
  temp/libcamera/90-libcamera.rules
  temp/libcamera/APKBUILD
Owners: none

temp/pipewire: fork for temporary downstream patches
  temp/pipewire/0001-libcamera-Drop-the-first-frame-after-camera-startup.patch
  temp/pipewire/0001-libcamera-reset-ringbuffer-when-clearing-buffers.patch
  temp/pipewire/APKBUILD
  temp/pipewire/pipewire-launcher.sh
  temp/pipewire/pipewire.desktop
  temp/pipewire/pipewire.post-install
  temp/pipewire/pipewire.post-upgrade
Owners: none

device-generic-x86_64: only include i915 fw when oem-intel is installed
  device/community/device-generic-x86_64/30-gpu-i915-firmware.files
  device/community/device-generic-x86_64/APKBUILD
Owners: @craftyguy, @ollieparanoid

CI: dog-feed pmbootstrap v3 with duplicate pipelines next to pmb-v2
  .gitlab-ci.yml
Owners: none

DO NOT MERGE: add util-linux losetup to deps
  .ci/pytest.sh
Owners: none

CI: pytest: set pmaports dir via `pmbootstrap config`
  .ci/pytest.sh
Owners: none

CI: pytest: update for pmb v3
  .ci/testcases/conftest.py
  .ci/testcases/test_device.py
  .ci/testcases/test_deviceinfo.py
  .ci/testcases/test_firmware.py
  .ci/testcases/test_framework_versions.py
  .ci/testcases/test_kernel.py
  .ci/testcases/test_provides.py
  .ci/testcases/test_source.py
  .ci/testcases/test_ui.py
Owners: none

kconfigcheck.toml: add Librem 5 category
  kconfigcheck.toml
Owners: none

device-tolinopage2: fix post-upgrade for uboot
  device/testing/u-boot-tolino-page2/u-boot-tolino-page2.post-upgrade
Owners: none

Remove perl as dependency
  device/testing/device-tolino-page2/APKBUILD
Owners: none

device-tolino-page2:
  device/testing/device-tolino-page2/APKBUILD
Owners: none

Add tolino page 2 support. This currently fully works, (WiFi, Booting, Flashing to internal SD), EXCEPT graphics.
  device/testing/device-tolino-page2/APKBUILD
  device/testing/device-tolino-page2/deviceinfo
  device/testing/device-tolino-page2/modules-initfs
  device/testing/u-boot-tolino-page2/APKBUILD
  device/testing/u-boot-tolino-page2/u-boot-tolino-page2.post-upgrade
Owners: none

Remove empty variable.
  device/testing/device-tolino-page2/deviceinfo
Owners: none

linux-purism-librem5: enable CONFIG_UDMABUF
  device/main/linux-purism-librem5/APKBUILD
  device/main/linux-purism-librem5/config-purism-librem5.aarch64
Owners: @craftyguy, @alistair23, @Newbyte

linux-postmarketos-qcom-msm8953: enable CONFIG_UDMABUF
  device/community/linux-postmarketos-qcom-msm8953/APKBUILD
  device/community/linux-postmarketos-qcom-msm8953/config-postmarketos-qcom-msm8953.aarch64
Owners: @M0Rf30, @Ultra-azu, @barni2000

linux-postmarketos-allwinner: enable CONFIG_UDMABUF
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
Owners: @Arnavion, @PsychoGame

temp/libcamera: Change udev rule with uaccess tag for udmabuf
  temp/libcamera/90-libcamera.rules
  temp/libcamera/APKBUILD
Owners: none

fixup! CI: pytest: update for pmb v3
  .ci/testcases/conftest.py
Owners: none
